main {
    justify-self: center;
    max-width: 46rem;
    margin-inline: 1.5rem;

    & .input-button {
        position: fixed;
        right: 3%;
        bottom: 5%;
    }
}

#app {
    transition: filter 200ms linear;
}