main {
    position: relative;
    justify-self: center;
    max-width: 46rem;
    margin-inline: 1.5rem;

    & .input-button {
        position: fixed;
        right: 3%;
        bottom: 5%;
    }
}

#app {
    transition: filter 200ms linear;
}

@media(width < 45em) {
    main { 
        padding-bottom: 3em;
        margin: 1.25rem;

        & .input-button{
            right:auto;
            bottom: 3%;
            margin-inline: auto;
            justify-self: center;
        }
    }
}