#schedules{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: .75rem;
    max-width: 44.44rem;
    
    /* & .shop-schedules {
        display: flex;
        } */
    & .shop-schedules{
        border-radius: .5rem;
        background-color: var(--background-tertiary);

        & ul {
            padding: 1.25rem;
        }
    }

    & .item-schedule{
        display: flex;
        justify-content: space-between;
        font-size: var(--fs-par-lb-sm);
        
        & p {
            text-align: left;
            color: var(--content-tertiary);
        }

        & div {
            display: flex;
            gap: 1rem;
        }
    }

    & .schedule-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 44.44rem;
        padding: .75rem 1.25rem;
        border-bottom: 1px solid rgb(58, 57, 57);

        & div {
            display: flex;
            gap: .75rem;
            align-items: center;
        }

        & span {
            color: var(--content-secondary);
        }

    }
}