#schedules{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 100%;
    margin-bottom: 3.875rem;
    
    & .shop-schedules{
        display: block;
        border-radius: .5rem;
        background-color: var(--background-tertiary);

        & ul {
            padding: 1.25rem;
        }
    }

    & .item-schedule{
        display: grid;
        grid-template-columns: 1fr .85fr .5fr;
        font-size: var(--fs-par-lb-sm);
        padding: 1rem .75rem;

        & span {
            color: var(--content-primary);
            font-weight: var(--fw-bd);
        }

        & p {
            text-align: left;
            color: var(--content-tertiary);

            & span {
                color: var(--content-primary);
                font-weight: var(--fw-bd);
            }
        }

        & div {
            display: flex;
            gap: 1rem;
        }

        & #remove-schedule {
            cursor: pointer;
            transition: color 100ms linear;
            text-align: right;

            &:hover {
                color: var(--content-primary);
                text-decoration: underline solid;
            }
        }
    }

    & .schedule-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 1.25rem;
        border-bottom: 1px solid rgb(58, 57, 57);

        & div {
            display: flex;
            gap: .75rem;
            align-items: center;
        }

        & span {
            color: var(--content-secondary);
        }

    }
}

.separator-line {
    border-bottom: 1px solid rgb(58, 57, 57);
}

.my-schedule {
    & .legend {
        font-size: var(--fs-legend);
        font-family: var(--ff-title);
        font-weight: var(--fw-bd);
        line-height: 2rem;
        margin-bottom: .25rem;
    }
    
    & p {
        font-size: var(--fs-par-lb-md);
        font-weight: 400;
        color: var(--content-secondary);
    }
}