.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-16 {
    gap: 1rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.blur {
    filter: blur(5px);
}

.opacity-0 {
    opacity: 0;
}

.grid-coluns-2 {
    grid-template-columns: 1fr 1fr;
}

.display-none {
    display: none;
}

@media(width < 45em) {
    .grid-columns-2 {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
}